@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #FF3C78;
}

body {
  background: #EEEEEE;
  margin: 0;
  font-family: 'Poppins';
}

body hr {
  opacity: 0.2;
}

.navbar {
  background: white;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .logo-name {
  color: red;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 1.2px;
  padding-top: 0.3em;
}

.navbar img {
  width: 35px;
  height: 35px;
  padding-top: 0.4em;
  padding-bottom: 0.2em;
}

.herosection {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.herosection .hero-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding-top: 3em;
}

.herosection .rightcolumn h2 {
  text-align: center;
}

.herosection .rightcolumn p {
  text-align: justify;
  padding-left: 18%;
  padding-right: 18%;
  color: gray;
  line-height: 1.6em;
}

.herosection .rightcolumn .button-div {
  text-align: center;
  letter-spacing: 1.2px;
  padding-top: 1.5em;
  padding-bottom: 3em;
}

.herosection .rightcolumn .button-div a {
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.7em 1em;
  background: var(--primary-color);
  opacity: 0.95;
  border-radius: 0.4em;
}

.homesection {
  text-align: center;
}

.homesection .header {
  padding-top: 0.5em;
}

.homesection .header .heading-h2 {
  color: red;
  font-size: 1.5em;
}

.homesection .header hr {
  width: 7em;
  margin-bottom: 2em;
}

.homesection img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding-top: 1em;
}

.homesection .homedetails p {
  text-align: justify;
  padding-left: 20%;
  padding-right: 20%;
  color: gray;
  line-height: 1.6em;
}

.homesection .homedetails .categories-h4 {
  text-align: center;
}

.homesection .homedetails ul {
  padding-top: 0.5em;
}

.homesection .homedetails ul li {
  background: white;
  opacity: 0.85;
  color: #333;
  display: inline-block;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  letter-spacing: 3px;
  margin-right: 1.5rem;
}

.mainpages {
  padding-top: 0.5em;
  text-align: center;
  padding-bottom: 1em;
}

.mainpages img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding-top: 2em;
}

.mainpages h2 {
  color: black;
}

.mainpages p {
  text-align: justify;
  padding-left: 18%;
  padding-right: 18%;
  color: gray;
  line-height: 1.6em;
}

.techused {
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.techused .headsection h2 {
  text-align: center;
  color: red;
  padding-bottom: 0.1em;
}

.techused .headsection hr {
  width: 10em;
  margin-bottom: 3em;
}

.techused img {
  width: 85px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.techused h4 {
  text-align: center;
}

.techused ul {
  background: rgba(128, 128, 128, 0.15);
  margin: 0.5em 3em;
  border-radius: 1.5em;
}

.techused ul li {
  text-align: center;
  color: #333;
  display: inline-block;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding: 1.5rem 2.5rem;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin-right: 1.5rem;
}

@media only screen and (min-width: 560px) {
  .navbar .logo-name {
    padding-left: 1em;
  }
  .navbar img {
    padding-right: 1em;
  }
  .herosection .rightcolumn .button-div {
    text-align: center;
  }
}

@media only screen and (min-width: 760px) {
  .navbar .logo-name {
    padding-left: 1.5em;
  }
  .navbar img {
    padding-right: 1.5em;
  }
  .herosection {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 5em;
    padding-top: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .herosection .hero-image {
    width: 200px;
    padding-left: 5em;
  }
  .herosection .rightcolumn {
    margin-left: 0;
    padding-top: 5em;
    text-align: left;
  }
  .herosection .rightcolumn h2 {
    text-align: left;
    padding-left: 2em;
  }
  .herosection .rightcolumn p {
    padding-left: 3em;
  }
  .herosection .rightcolumn .button-div {
    text-align: left;
    padding-left: 3em;
  }
  .homesection .homecontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 4em;
  }
  .homesection .homecontainer img {
    width: 200px;
    padding-left: 5em;
    padding-top: 1.5em;
  }
  .homesection .homecontainer .homedetails {
    text-align: left;
  }
  .homesection .homecontainer .homedetails h2 {
    text-align: left;
    padding-left: 2em;
  }
  .homesection .homecontainer .homedetails p {
    text-align: left;
    padding-left: 3em;
  }
  .homesection .homecontainer .homedetails .categories-h4 {
    text-align: left;
    padding-left: 3em;
  }
  .homesection .homecontainer .homedetails ul {
    padding-left: 3em;
  }
  .homesection .homecontainer .homedetails ul li {
    font-size: 0.8rem;
  }
  .mainpages {
    padding-top: 1em;
    padding-bottom: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .mainpages img {
    width: 170px;
    padding-right: 1.5em;
  }
  .mainpages p {
    text-align: left;
    font-size: 0.85em;
    padding-left: 3em;
  }
  .mainpages h2 {
    text-align: left;
    padding-left: 1.7em;
  }
  .techused {
    padding-bottom: 3em;
  }
}

@media only screen and (min-width: 960px) {
  .navbar .logo-name {
    padding-left: 3em;
  }
  .navbar img {
    padding-right: 3em;
  }
  .herosection {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 5em;
    padding-top: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .herosection .hero-image {
    width: 200px;
    padding-left: 8em;
  }
  .herosection .rightcolumn {
    padding-top: 5em;
    text-align: left;
  }
  .herosection .rightcolumn h2 {
    text-align: left;
    padding-left: 4em;
  }
  .herosection .rightcolumn p {
    padding-left: 6em;
  }
  .herosection .rightcolumn .button-div {
    text-align: left;
    padding-left: 6em;
  }
  .homesection {
    padding-bottom: 5em;
  }
  .homesection .homecontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .homesection .homecontainer .header {
    padding-bottom: 2.5em;
  }
  .homesection .homecontainer img {
    width: 200px;
    padding-left: 8em;
    padding-top: 1.5em;
  }
  .homesection .homecontainer .homedetails {
    text-align: left;
  }
  .homesection .homecontainer .homedetails h2 {
    text-align: left;
    padding-left: 4em;
  }
  .homesection .homecontainer .homedetails p {
    text-align: left;
    padding-left: 6em;
  }
  .homesection .homecontainer .homedetails .categories-h4 {
    text-align: left;
    padding-left: 6em;
  }
  .homesection .homecontainer .homedetails ul {
    padding-left: 6em;
  }
  .homesection .homecontainer .homedetails ul li {
    font-size: 0.8rem;
  }
  .mainpages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
    padding-top: 3em;
    padding-bottom: 5em;
  }
  .mainpages img {
    width: 170px;
    padding-right: 2em;
  }
  .mainpages p {
    text-align: left;
    font-size: 0.85em;
    padding-left: 5em;
  }
  .mainpages h2 {
    text-align: left;
    padding-left: 2.8em;
  }
  .techused {
    padding-top: 1.5em;
    padding-bottom: 5em;
  }
}

@media only screen and (min-width: 1160px) {
  .navbar .logo-name {
    padding-left: 5em;
  }
  .navbar img {
    padding-right: 5em;
  }
  .herosection {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 6em;
    padding-top: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .herosection .hero-image {
    width: 225px;
    padding-left: 14em;
  }
  .herosection .rightcolumn {
    padding-top: 5em;
    text-align: left;
  }
  .herosection .rightcolumn h2 {
    text-align: left;
    padding-left: 6em;
  }
  .herosection .rightcolumn p {
    padding-left: 9em;
    padding-right: 13em;
  }
  .herosection .rightcolumn .button-div {
    text-align: left;
    padding-left: 9em;
  }
  .homesection .homecontainer {
    padding-bottom: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .homesection .homecontainer img {
    width: 225px;
    padding-left: 13em;
    padding-top: 2.5em;
  }
  .homesection .homecontainer .homedetails {
    padding-top: 1.2em;
    text-align: left;
  }
  .homesection .homecontainer .homedetails h2 {
    text-align: left;
    padding-left: 5em;
  }
  .homesection .homecontainer .homedetails p {
    text-align: left;
    padding-left: 7.6em;
    padding-right: 15em;
  }
  .homesection .homecontainer .homedetails .categories-h4 {
    text-align: left;
    padding-left: 7.6em;
  }
  .homesection .homecontainer .homedetails ul {
    padding-left: 7.5em;
    padding-right: 4em;
  }
  .homesection .homecontainer .homedetails ul li {
    font-size: 0.8rem;
  }
  .mainpages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .mainpages img {
    width: 190px;
  }
  .mainpages p {
    text-align: left;
    font-size: 0.85em;
    margin-left: 1.8em;
  }
  .mainpages h2 {
    text-align: left;
    padding-left: 3.8em;
  }
}

@media only screen and (min-width: 1360px) {
  .navbar .logo-name {
    padding-left: 5em;
  }
  .navbar img {
    padding-right: 5em;
  }
  .herosection {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 6em;
    padding-top: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .herosection .hero-image {
    width: 225px;
    padding-left: 18em;
  }
  .herosection .rightcolumn {
    padding-top: 5em;
    text-align: left;
  }
  .herosection .rightcolumn h2 {
    text-align: left;
    padding-left: 6em;
  }
  .herosection .rightcolumn p {
    padding-left: 9em;
    padding-right: 18em;
  }
  .homesection .homecontainer {
    padding-bottom: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .homesection .homecontainer img {
    width: 225px;
    padding-left: 18em;
    padding-top: 2.5em;
  }
  .homesection .homecontainer .homedetails {
    padding-top: 1.2em;
    text-align: left;
  }
  .homesection .homecontainer .homedetails h2 {
    text-align: left;
    padding-left: 5em;
  }
  .homesection .homecontainer .homedetails p {
    text-align: left;
    padding-left: 7.6em;
    padding-right: 20em;
  }
  .homesection .homecontainer .homedetails .categories-h4 {
    text-align: left;
    padding-left: 7.6em;
  }
  .homesection .homecontainer .homedetails ul {
    padding-left: 7.5em;
    padding-right: 6em;
  }
  .homesection .homecontainer .homedetails ul li {
    font-size: 0.8rem;
  }
  .mainpages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .mainpages img {
    width: 210px;
  }
  .mainpages p {
    text-align: left;
    font-size: 1em;
    margin-left: 3.3em;
  }
  .mainpages h2 {
    text-align: left;
    padding-left: 5.5em;
  }
  .techused {
    padding-left: 5em;
    padding-right: 5em;
  }
}

@media only screen and (min-width: 1460px) {
  .navbar .logo-name {
    padding-left: 5em;
  }
  .navbar img {
    padding-right: 5em;
  }
  .herosection {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 6em;
    padding-top: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .herosection .hero-image {
    width: 225px;
    padding-left: 19em;
  }
  .herosection .rightcolumn {
    padding-top: 5em;
    text-align: left;
  }
  .herosection .rightcolumn h2 {
    text-align: left;
    padding-left: 5em;
    font-size: 1.8em;
  }
  .herosection .rightcolumn p {
    padding-left: 8.2em;
    padding-right: 18em;
    font-size: 1.1em;
  }
  .homesection .homecontainer {
    padding-bottom: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .homesection .homecontainer img {
    width: 225px;
    padding-left: 19em;
    padding-top: 2.5em;
  }
  .homesection .homecontainer .homedetails {
    padding-top: 1.2em;
    text-align: left;
  }
  .homesection .homecontainer .homedetails h2 {
    text-align: left;
    padding-left: 4em;
    font-size: 1.8em;
  }
  .homesection .homecontainer .homedetails p {
    text-align: left;
    padding-left: 6.6em;
    padding-right: 20em;
    font-size: 1.1em;
  }
  .homesection .homecontainer .homedetails .categories-h4 {
    text-align: left;
    padding-left: 6.7em;
    font-size: 1.1em;
  }
  .homesection .homecontainer .homedetails ul {
    padding-left: 7.5em;
    padding-right: 6em;
  }
  .homesection .homecontainer .homedetails ul li {
    font-size: 1rem;
  }
  .mainpages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .mainpages img {
    width: 210px;
  }
  .mainpages p {
    text-align: left;
    font-size: 1em;
    margin-left: 3.3em;
  }
  .mainpages h2 {
    text-align: left;
    padding-left: 5.5em;
  }
  .techused {
    padding-left: 5em;
    padding-right: 6em;
  }
}

@media only screen and (min-width: 1560px) {
  .navbar .logo-name {
    padding-left: 7em;
    font-size: 1.8em;
  }
  .navbar img {
    padding-right: 7em;
  }
  .herosection {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 6em;
    padding-top: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .herosection .hero-image {
    width: 250px;
    padding-left: 20em;
  }
  .herosection .rightcolumn {
    padding-top: 5em;
    text-align: left;
  }
  .herosection .rightcolumn h2 {
    text-align: left;
    padding-left: 4.5em;
    font-size: 2em;
  }
  .herosection .rightcolumn p {
    padding-left: 7.6em;
    padding-right: 18em;
    font-size: 1.2em;
  }
  .homesection .homecontainer {
    padding-bottom: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .homesection .homecontainer img {
    width: 250px;
    padding-left: 20em;
    padding-top: 2.5em;
  }
  .homesection .homecontainer .homedetails {
    padding-top: 1.2em;
    text-align: left;
  }
  .homesection .homecontainer .homedetails h2 {
    text-align: left;
    padding-left: 3.8em;
    font-size: 2em;
  }
  .homesection .homecontainer .homedetails p {
    text-align: left;
    padding-left: 6.4em;
    padding-right: 20em;
    font-size: 1.2em;
  }
  .homesection .homecontainer .homedetails .categories-h4 {
    text-align: left;
    padding-left: 6em;
    font-size: 1.3em;
  }
  .homesection .homecontainer .homedetails ul {
    padding-left: 7.5em;
    padding-right: 10em;
  }
  .homesection .homecontainer .homedetails ul li {
    font-size: 1.2rem;
  }
  .mainpages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .mainpages img {
    width: 250px;
  }
  .mainpages p {
    text-align: left;
    font-size: 1em;
    margin-left: 3.5em;
  }
  .mainpages h2 {
    text-align: left;
    padding-left: 5.5em;
  }
  .techused {
    padding-left: 12em;
    padding-right: 12em;
  }
}
/*# sourceMappingURL=newsda.css.map */